<div class="col-12 mb-2 bg-dark text-light p-3">
  <a href="/profile" class="btn">&larr; Back to profile</a>
  <div class="mb-2">
  <h3 class="portfolio-item-title text-light">Create Post</h3>
  <form class="edit-post-form">
    <div>
      <label for="post-title">Title</label>
      </br>
      <input name="post-title" type="text" />
    </div>
    <div>
      <label for="post-description">Description</label>
      </br>
      <input name="post-description" type="text" />
    </div>
    </div>
    <a  id="save-btn" class="btn">Save</a>
    <a class="btn" id="delete-btn">Discard</a>
  </form>

</div >
<script src="/javascript/logout.js"></script>
<script src="/javascript/create-post.js"></script>