
    <section class="my-3" id="portfolio">
      <h2 class="text-dark bg-primary p-2 display-inline-block">Recent Posts</h2>
      <div class="flex-row justify-space-between">
      
          <div class="col-12 mb-2 bg-dark text-light p-3">
            <h3 class="portfolio-item-title text-light">README.md Generator</h3>
            <h5 class="portfolio-languages">
              Built With:
              JavaScript, HTML, CSS, ES6, Bootstrap, Node
            </h5>
            <p>Uses node.js and a CLI to generate a project's README file with user-generated information.</p>
            <a href="https://github.com/marcusikegami/README-generator" class="btn">>> Comments</a>
          </div>
      </div>
    </section>
  