<form class="login-form my-3" id="login">
    <h2 class="text-dark bg-primary p-2 display-inline-block">Login</h2>
    <div class="col-12 mb-2 bg-dark text-light p-3">
      <label for="email-login">email:</label>
      <input type="text" id="email-login" />
    </div>
    <div class="col-12 mb-2 bg-dark text-light p-3">
      <label for="password-login">password:</label>
      <input type="password" id="password-login" />
    </div>
    <div>
      <button type="submit">login</button>
    </div>
  </form>
  
  <form class="signup-form my-3" id="signup">
      <h2 class="text-dark bg-primary p-2 display-inline-block">Sign Up</h2>
    <div class="col-12 mb-2 bg-dark text-light p-3">
      <label for="username-signup">username:</label>
      <input type="text" id="username-signup" />
    </div>
    <div class="col-12 mb-2 bg-dark text-light p-3">
      <label for="email-signup">email:</label>
      <input type="text" id="email-signup" />
    </div>
    <div class="col-12 mb-2 bg-dark text-light p-3">
      <label for="password-signup">password:</label>
      <input type="password" id="password-signup" />
    </div>
    <div>
      <button type="submit">signup</button>
    </div>
  </form>
  <script src="/javascript/login.js"></script>