<section class="my-3" id="portfolio">
      <h2 class="text-dark bg-primary p-2 display-inline-block">Recent Posts</h2>
      <div class="flex-row justify-space-between">
          <a href="/new" class="btn">Make a New Post</a>
        {{#each posts}}
    
        <a href="/post/{{id}}">
          <div class="col-12 mb-2 bg-dark text-light p-3">
            <h3 class="portfolio-item-title text-light">{{ title }}</h3>
            <h5 class="portfolio-languages">
              {{ createdAt }}
            </h5>
            <p>{{ user.username }}</p>
            <a class="btn">Comments</a>
          </div>
        </a>
     
  {{/each}} 
  </div>
</section>
<script src="/javascript/create-post.js">