{{> post-info post}}

{{#if loggedIn }}
<form class="comment-form bg-dark p-2 text-light">
  <div class="col-8">
    <textarea name="comment-body" class="comment-ta"></textarea>
  </div>

  <div>
    <a class="ml-2 my-1 px-2 py-1 bg-secondary text-dark" id="comment-submit">add comment</a>
  </div>
</form>
{{/if}}

{{> comments post.comments}}

<script src="/javascript/comment.js"></script>
<script src="/javascript/logout.js"></script>